footer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 0px;
    text-align:justify;
    width: 100%;
    border: 1px solid black;
    height: 500px;
}

footer h1{
    font-size: 20px;
    margin: 35px;
    font-weight: 100;
    margin: 30px;
    padding: 0px;
}

footer a{
    margin-right: 40px;
}

@media only screen and (max-width: 600px){
    footer{
          width: 900px;
          height: 100px;
    }
    footer h1{
         text-align: left;
         font-size: 10px;
          margin: 3px;
    }
    .ic{
         width: 30px;
        }
    .git{
         margin-right: 480px;
   }
}