footer {
    display: flex;
    padding: 5px;
    text-align:justify;
    width: 100%;
    border: 1px solid black;
    height: 500px;
}

footer h1{
    font-size: 20px;
    margin: 35px;
    font-weight: 100;
    margin: 30px;
    padding: 0px;
}

footer a{
    margin-top: 60px;
    margin-left: 500px;
}

@media only screen and (max-width: 600px){
    footer{
        width: 900px;
        display: block;   
    }

    footer h1{text-align: left;
       font-size: 20px;
       margin: 15px;
    }
    footer a{ margin-left: 100px;
    }
}