#TeC{
    display: flex;
    
    margin: 50px;
}


.tec{
  
    text-align: center;
    margin: 30px;
    padding: 3px;
    width: 500px;
    height: 500px;
    border-radius: 30px 0px 30px;
    background-color:  #131d30;
}

.tec img{
    box-shadow: 50px 5px 50px  #192f52;
    width: 350px;
    border-radius: 100%;
}

.tec p{
    
    font-size: 50px;
    font-weight: 600;
    margin: 0px;
}