
*{margin: 0px; padding: 0px;}
body{
  font-family: Poppins;
 
  background-color: #0F1624;
  color: aliceblue;
}
a{
  color: aliceblue;
  text-decoration: none;
}
a:hover{
  cursor: pointer;
  color: rgb(198, 206, 213);
}