.container{
    display: flex;
}
.Pro h1{ font-size: 55px;}
.Pro{
    margin: 80px;
}

@media only screen and (max-width: 600px){
    .container{
      display: flex;
     
    
    }
    .Pro{margin: 2px;}
    .Pro h1{ font-size: 25px;
            margin: 10px;
    }
}